*.exe
*.exe~
*.dll
*.so
*.dylib

*.json
!config.json


*.test
*.out

vendor/

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

*.tmp
*.temp
*.log

build/
dist/

*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

/vendor/
/blobs
/rootfs


go.work

debug
debug.test
tests

*.cover
coverage.txt 
